img {
  width: 230px;
  height: 300px;
}

body {
  box-sizing: content-box;
}

@media(max-width: 640px) {
  body {
    width: 100%;
  }
}

@media(max-width: 230px) {
  img {
    width: 230px;
}
}

.link {
    background-color: dimgray;
    border: 1px solid beige;
    color: beige;
    padding: 5px;
    text-decoration: none;
    margin-block-end: 5px;
}

.link:hover {
  background-color: silver;
  color: beige;
  transition: 1s;
  border-radius: 40%;
}


/*.icon[href^="https://web.facebook"] {
  background-image: url(../images/icon-facebook.png);

}

.icon[href^="https://github"] {
  background-image: url(../images/icon-github.png);
}

