.dropdown {
   position: relative;
}

 .dropdown_1 [type="checkbox"] {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.dropdown_3 {
  background-color: hotpink;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  padding-inline-end: 3rem;
  font-weight: 700;
  border-radius: 0.25rem;
  position: relative;

}
.dropdown_3::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 50%;
  margin-top: -0.3rem;
  right: 1rem;
}

.dropdown_4 {
  position: absolute;
  display: none;
  background-color: white;
}

.dropdown_4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown_4 a {
  display: block;
  padding: 0.25rem 0.5rem;
  color: hotpink;
  text-decoration: none;
  transition: all 3s;
  background-color: rgb(27, 185, 61);
}

.dropdown_4 a:hover {
  background-color: hotpink;
  color: white;
}

.dropdown_3::before {
  transition: border .3s;
  border-color: currentColor transparent transparent transparent;
  border-style: solid;
  border-width: 0.6rem 0.5rem 0 0.5rem;
}

.dropdown_4 {
  display: none;
}

/*Create alternative state: open / checked*/
[type="checkbox"]:checked ~ .dropdown_3::before {
border-color: transparent transparent currentColor transparent;
border-style: solid;
border-width: 0 0.5rem 0.6rem 0.5rem;
}

[type="checkbox"]:checked ~ .dropdown_4 {
display: block;
}
